@charset "UTF-8";
body {
    background-image: url(/images/money.webp);
}
.container {
    background: white;
}
.site {
    border: 1px solid #04040430;
}
.testing {
    text-align: center;
    line-height: 100px;
}
.pagination {
    margin-bottom: 50px;
}
.logo img {
    width: 10%;
}
.nav_head {
    margin-top: 20px;
}
h1 {
    text-transform:uppercase;
    font-size: 30px;
    color: black;
    line-height: 0.7;
    font-weight: bolder;
}
a {
    text-decoration: none;
}
button#saveChartBtn {
    display: none;
}
svg.bi.bi-arrow-down,svg.bi.bi-arrow-up {
    display: none;
	vertical-align: middle;
	margin-left: 5px; 
}